body>header {
  margin: 20px 0 0;
}

#form-section {
  align-items: center;
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;
  flex: 1;
  justify-content: center;
  transition: opacity 0.5s ease, transform 0.5s ease;
  width: 100%;
}

#form-section>form {
  width: 80%;
}

.form-header {
  margin: 20px 0 0;
}

#form-section fieldset {
  align-items: center;
  background-color: var(--secondary-color);
  border: 2px solid var(--primary-color);
  color: var(--primary-color) !important;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  padding: 20px;
}

.app-logo {
  width: 30px;
}

#form-section fieldset>div {
  display: flex;
  justify-content: center;
  width: 100%;
}

#form-section #form-header {
  align-items: center;
  gap: 10px;
}

#form-section fieldset>.input-group {
  align-items: flex-start;
  align-self: flex-start;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

#form-section fieldset input {
  border: 1px solid var(--primary-color);
  border-radius: 6px;
  height: 30px;
  text-align: left;
  padding-left: 10px;
  width: 100%;
}

#form-section fieldset label {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 2px;
  padding-left: 5px;
}

#form-section button {
  animation: pulse 2.5s infinite;
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  border-radius: 7px;
  color: var(--secondary-color);
  font-size: 18px;
  font-weight: 700;
  height: 40px;
  margin: 20px 0 0;
  text-transform: uppercase;
  width: 100%;
}

#form-warning-text {
  align-items: center;
  background-color: red;
  border-radius: 4px;
  bottom: 40px;
  color: white;
  display: flex;
  font-size: 18px;
  height: 40px;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  text-transform: uppercase;
  width: 100%;
}

#form-warning-text h4 {
  display: inline-block;
  white-space: nowrap;
  animation: scroll-left 10s linear infinite;
}

#welcome-div {
  align-items: center;
  animation: fade-in-out 4s 1 forwards;
  background-color: #5CB85C;
  border-radius: 8px;
  bottom: 40px;
  display: flex;
  height: 40px;
  justify-content: center;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  width: 80%;
}

.hide {
  animation: move-left 2s forwards;
}