#testimonials-section {
  padding: 40px 0px;
  text-align: center;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  position: relative;
  overflow: hidden;
  max-width: 100dvw;
  -webkit-user-select: none;
  overflow: hidden;
  user-select: none;
  width: 100%;
}

#testimonials-section h2 {
  font-size: 2rem;
  margin-bottom: 20px;

}

/* Carrossel */
#testimonials-carousel {
  display: flex;
  transition: transform 0.4s ease-in-out;
  cursor: grab;
}

.testimonial {
  min-width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.testimonial p {
  font-size: 1.2rem;
  font-style: italic;
  margin-bottom: 10px;

}

.testimonial span {
  font-size: 1rem;
  font-weight: 700;
  display: block;
}

/* Controles do Carrossel */
#carousel-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}

#prev-btn-testimonial,
#next-btn-testimonial {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #333;
}

#pagination {
  display: flex;
  gap: 5px;
}

#pagination div {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ccc;
  cursor: pointer;
  transition: background 0.3s;
}

#pagination div.active {
  background: var(--primary-color);
}